// fonts

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&family=Raleway&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // font-family: 'roboto', sans-serif;
    // font-family: 'Hacka', monospace;
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
}


body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body > div > img {
    display: block;
    margin: 0 auto;
    max-width: 100vw;
}

// projeto 01 com responsividade
.clear {
    clear: both;
}

.header img {
    width: 23%;
    margin-top: 20px;
    min-width: 280px;
}

.header {
    overflow: hidden;
    width: 100%;
    height: 90px;
    min-height: 90px;
    padding: 0 2%;
    background: #27282d;
    
}

.center {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2%;
}

.container-banner {
    width: 100%;
    height: 600px;
    background-size: cover;
    background-image: url('assets/images/imagetech-01.jpg');
    background-repeat: no-repeat;
    background-position: 80% 100%;
}

.container-banner > .center {
    height: 100%;
}

.container-list {
    position: relative;
    display: inline-block;
    float: left;
    width: 520px;
    height: 460px;
    top: -10px;
    margin: 80px 0;
    border-radius: 15px;
    opacity: 0.9;
    background: #27282d;
}

.container-list ul {
    list-style-position: inside;
}

.container-list ul li {
    margin: 60px 30px;
    color: #fff;
    line-height: 20px;
}

.container-form {
    position: relative;
    float: right;
    width: 530px;
    height: 660px;
    top: -30px;
    left: 100px;
    border-radius: 15px;
    background: #fff;
    opacity: 0.9;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.15);
}

.container-form h1 {
    font-size: 21px;
    font-weight: 500;
    text-align: left;
    font-weight: normal;
    padding: 40px 2%;
    margin: 20px 60px;
    color: #808080;
}

.input-container {
    margin: 20px 60px;
    
}

.input-container span, .container-form p {
    display: inline-block;
    width: 100%;
    font-size: 16px;
    color: #808080;
}

.container-form p {
    margin: 40px 60px;
}

.input-container input[type='text'] {
    width: 410px;
    height: 60px;
    margin-top: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 12px;
}

.input-container input[type='text']:focus {
    outline: 0;

}

.input-container input[type='tel'] {
    width: 410px;
    height: 35px;
    margin-top: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.input-container input[type='tel']:focus {
    outline: 0;

}

form input[type='submit'] {
    cursor: pointer;
    width: 210px;
    height: 45px;
    margin: 20px 80px;
    font-size: 16px;
    border: 0;
    outline: 0;
    border-radius: 10px;
    color: #ccc;
    background: #27282d;
}

form input[type='submit']:focus {
    outline: 0;
}

.container-2 {
    width: 100%; 
    height: 660px;
    padding: 20px 2%;
    text-align: center;
    background: #EA7C32;
}

.container-2 h1 {
    display: inline-block;
    width: 100%;
    padding: 20px 2%;
    font-size: 41px;
}

.container-2 p {
    display: inline-block;
    text-align: justify;
    width: 100%;
    max-width: 968px;
    line-height: 65px;
    font-weight: normal;
    padding: 20px 2%;
}

.arrow {
    position: relative;
    width: 45px;
    height: 45px;
    top: 125px;
    left: calc(100% - 50%);
    background-image: url('assets/images/arrow-down.png');
    background-size: 100% 100%;

}

.section-1 {
    width: 100%;
    height: 880px;
    padding: 40px 2%;

}

.section-1 h1 {
    display: inline-block;
    width: 100%;
    font-size: 41px;
    text-align: center;
    font-weight: normal;
    padding: 20px 2%;
    color: #27282d;
}

.container-section {
    width: 100%;
    height: 680px;
    padding: 20px 2%;
    text-align: center;
}

.container-single {
    display: inline-block;
    width: 33%;
    
}

.container-single img {
    width: 60%;
    padding: 40px 2%;
    
}

.text-container-single p {
    display: inline-block;
    width: 65%;
    line-height: 35px;
    margin: 20px 0;
    text-align: justify;
}

.footer-container {
    display: inline-block;
    width: 100%;
    height: 200px;
    padding: 40px 2%;
    border-top: 1px solid #ccc;
    background: #efefef;
}

.footer-container h1 {
    width: 100%;
    padding: 20px 2%;
    font-size: 21px;
    text-align: center;
    
}

.footer-container p {
    font-size: 18px;
    padding: 20px 2%;
    text-align: center;
}

@media screen and (max-width: 1024px) {
    .header {
        width: 100%;
        height: calc(90px - 100%);
        text-align: center;
    }


    .header img {
        width: 21%;
    }

    .center {
        display: inline-block;
        width: calc(100% - 2%);
        height: 100%;
    }
    
    .container-banner {
        width: 100%;
        height: auto;
        text-align: center;
        padding: 40px 2%;
    }

    .container-form {
        float: right;
        height: auto;
        width: 45%;
        height: 100%;
        max-width: 410px;
        left: 0;
        top: 0;
        padding: 20px 0;
        text-align: center;
    }

    .container-form p {
        margin: 0 60px;
    }
    
    .container-list {
        width: 50%;
        height: calc(100% - 400px);
        float: left;
        top: 150px;
        margin: 0;
    }

      .container-list ul li {
        width: calc(100% - 20%);
        max-width: 380px;
        margin: 40px 20px;
        color: #fff;
    }
    
    .input-container span, .container-form p {
        display: inline-block;
        text-align: left;
        width: 100%;
        font-size: 14px;
        color: #808080;
    }

    .input-container input[type='text'] {
        
        width: 100%;
        height: 65px;
        border-radius: 10px;
    }

    
    .input-container input[type='tel'] {
        width: 100%;
        height: 45px;
        border-radius: 8px;
    }


    form input[type='submit'] {
        display: inline-block;
        cursor: pointer;
        width: 100%;
        height: 45px;
        max-width: 210px;
        margin: 20px auto;
    }

        
    .container-2 {
        width: 100%; 
        height: auto;
        padding: 40px 2%;
        text-align: center;
        background: #EA7C32;
    }

    .container-2 h1 {
        width: 100%;
        font-size: 41px;
    }
    
    .container-2 p {
        width: 100%;
        max-width: 968px;
        line-height: 45px;
    }

    .arrow {
        width: 40px;
        height: 40px;
        top: 60px;
    }

    .section-1 {
        width: 100%;
        height: 1200px;
        padding: 40px 2%;
    }

 
    .container-section {
        text-align: center;
    }

    .container-single {
        display: inline-block;
        width: 45%;
        height: auto;
        max-width: 70%;

    }

    .container-single img {
        padding: 20px 2%;
        
    }
        
    .text-container-single p {
        width: 90%;
        max-width: 80%;
        height: 100%;
        text-align: justify;
    }

    .footer-container {
        width: 100%;
        height: 200px;
        border-top: 1px solid #ccc;
        background: #efefef;
    }

    .footer-container h1 {
        font-size: 18px;
        text-align: center;
    }


    .footer-container p {
        font-size: 16px;
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    .center {
        display: inline-block;
        width: 100%;
        height: auto;
    }
    
    .container-list {
        display: inline-block;
        width: 80%;
        height: auto;
        margin: 40px auto;
        top: 0;
        right: 0;
        left: 0;
        float: none;
    }

    .container-list ul li {
        width: 100%;
        max-width: 80%;
        height: auto;
        text-align: left;
        line-height: 20px;
        color: #fff;
    }

    .container-banner {
        display: inline-block;
        width: 100%;
        height: auto;
    }


    .container-form {
        display: inline-block;
        float: none;
        width: 90%;
        max-width: 80%;
        height: auto;
    }

    .container-form h1 {
        font-size: 21px;
        margin: 20px 60px;
        color: #808080;
    }

    .container-2 h1 {
        font-size: 35px;
    }
        
    .container-2 p {
        max-width: 75%;
        line-height: 50px;
    }
    
    .arrow {
        position: relative;
        width: 45px;
        height: 45px;
        top: 60px;
        left: 50%;
    }

    .section-1 {
        width: 100%;
        max-width: 90%;
        height: auto;
        margin: 0 auto;
        text-align: center;
        padding: 20px
    }
    
    
    .section-1 h1 {
        font-size: 35px;
        padding: 20px;
        color: #27282d;
    }
    
    .container-section {
        width: 100%;
        max-width: 80%;
        height: auto;
        padding: 20px;
        margin: 0 auto;
        text-align: center;
    }

    .container-single {
        width: 90%;
        max-width: 90%;
        height: auto;
        text-align: center;
        margin: 0 auto;
    }
    
    .container-single img {
        width: 70%;
        max-width: 70%;
    }

        
    .text-container-single p {
        width: 100%;
        max-width: 90%;
        margin: 20px 0;
        text-align: justify;
    }

    .footer-container {
        padding: 40px;
    }

    .footer-container h1 {
        width: 100%;
        padding: 20px 0;
        font-size: 21px;
        text-align: center;
    }

    .footer-container p {
        font-size: 18px;
        padding: 20px 2%;
        text-align: center;
    }

}

@media screen and (max-width: 468px) {
    .container-list {
        margin: 20px 0;
    }

    .container-list ul li {
        font-size: 14px;
        line-height: 40px;
    }

    .container-form {
        margin: 10px 0;
    }

    .container-form h1 {
        width: 90%;
        max-width: 80%;
        font-size: 16px;
        margin: 10px 40px;
    }
        
    .container-form p {
        font-size: 12px;
        margin: 10px 40px;
    }

    .input-container {
        margin: 10px 40px;
        
    }

    .input-container span, .container-form p {
        width: 100%;
        max-width: 95%;
        font-size: 14px;
        color: #808080;
    }

    .input-container input[type='text'] {
        width: 100%;
        height: 50px;
        margin-top: 5px;
        padding: 10px;
        border-radius: 8px;
    }

    .input-container input[type='tel'] {
        width: 100%;
        height: 35px;
        margin-top: 5px;
        padding: 10px;
        border-radius: 8px;
    }

    form input[type='submit'] {
        width: 70%;
        height: 45px;
        font-size: 14px;
        border-radius: 8px;
    }

    .container-2 {
        margin: 0 auto;
    }
    
    .container-2 h1 {
        font-size: 31px;
        padding: 10px 0;
    }

    .container-2 p {
        font-size: 14px;
        line-height: 35px;
    }

    .arrow {
        display: block;
        top: 60px;
    }

    .section-1 {
        width: 100%;
        max-width: 90%;
    }
    
    .section-1 h1 {
        width: 100%;
        max-width: 90%;
        font-size: 31px;
    }

    .container-section {
        width: 100%;
        max-width: 90%;
        padding: 10px 0;
        text-align: center;
    }
    
    .footer-container h1 {
        font-size: 16px;
    }

    .footer-container p {
        font-size: 12px;
    }
}
