// fonts

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&family=Raleway&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // font-family: 'roboto', sans-serif;
    font-family: 'Hacka', monospace;
    font-weight: normal;
}


body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body > div > img {
    display: block;
    margin: 0 auto;
    max-width: 100vw;
}

header {
    width: 100vw;
    height: 60px;
    background: #606060;
}

article {
    width: 100%;
    height: 2200px;
}


.clear {
    clear: both;
}

.section-1 {
    width: 100vw;
    height: 400px;
    height: 900px;
    text-align: center;
    background: #aaa;
}

.info-section-1 {
    display: inline-block;
    width: calc((100% / 2 - 20%));
    height: 420px;
    margin: 12px;
    padding: 12px;
    background: #ccc;
}

.info-section-1 h2 {
    display: inline-block;
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    margin-top: 5px;
    color: #606060;
}

.info-section-1 p {
    display: inline-block;
    width: 90%;
    font-size: 12px;
    font-weight: normal;
    margin-top: 5px;
    color: #606060;
    text-align: justify;
}

.img-section-1 {
    display: inline-block;
    width: calc(100% - 10%);
    height: calc(100% - 20%);
    background: #ddd;
    border-radius: 5px;
}

.section-2 {
    width: 100vw;
    height: 600px;
    text-align: center;
    background: #bbb;
}


.info-section-2 {
    display: inline-block;
    width: calc((100% / 2 - 4%));
    height: 578px;
    margin: 12px;
    padding: 12px;
    background: #ccc;
}

.section-3 {
    width: 100vw;
    height: 800px;
    text-align: center;
    background: #ccc;
}

.info-section-3 {
    display: inline-block;
    width: calc((100% / 2 - 4%));
    height: 778px;
    margin: 12px;
    padding: 12px;
    background: #ddd;
}

.aside-1 {
    float: left;
    width: 50%;
    height: 400px;
    background: #efefef;
}

.aside-2 {
    display: inline-block;
    float: left;
    width: 50%;
    height: 400px;
    background: #dddddd;
}

footer {
    width: 100vw;
    height: 200px;
    background: #808080;
    background: #606060;
}
