// fonts

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&family=Raleway&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // font-family: 'roboto', sans-serif;
    font-family: 'Hacka', monospace;
    font-weight: normal;
}


body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body > div > img {
    display: block;
    margin: 0 auto;
    max-width: 100vw;
}

// padding com percentual
.parent {
    width: 50%;
    height: 400px;
    background: #ddd;
}

.box {
    display: inline-block;
    width: 50%;
    padding-top: 25%;
    margin-top: 25%;
    margin-left: 25%;
    background: #ccc;
}

// galeria de imagens
.clear {
    clear: both;
}

.container {
    width: 100%;
    max-width: 1280px;
    padding: 30px 0;
    margin: 20px auto;
    border: 3px solid #ddd;
}

.img-wrapper {
    position: relative;
    width: 33.3%;
    padding-top: calc(33.3% / 2);
    float: left;
    border: 5px solid #fff;
}

.img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}


// utilizando o calc
.sidebar {
    width: 300px;
    float: left;
    height:100%;
    background: #ccc;
}

.content {
    width: calc(100% - 300px);
    float: left;
    height: 100%;
    background: #ddd;
}

.box {
    width: calc((100% / 3) + 200px);
    height: 90px;
    background: #ddd;
}

/* vw =  Viewport width = largura da viewport - nao leva em consideracao a scrollbar*/

/* vh = Viewport height = altura da viewport  - nao leva em consideracao a scrollbar*/

.box {
    width: 100vw; 
    height: 90px; 
    background: #808080;
}

.box2 {
    width: 100px;
    height: 9000px;
    background: #606060;
}


// media queries
.clear {
    clear: both;
}
.box {
    width: 33.3%;
    height: 300px;
    float: left;
    background: #ccc;
    border: 2px solid #aaa;
}

// @media screen and (max-width: 580px) {
//     .box {
//         width: 50%;
//     }
// }

// @media screen and (max-width: 320px) {
//     .box {
//         width: 100%;
//     }
// }

// @media screen and (min-width: 580px) {
//     .box {
//         width: 100%;
//     }
// }

@media screen and (max-width: 768px) {
    .box {
        width: 50%;
    }
}

@media screen and (max-width: 580px) {
    .box {
        width: 100%;
    }
}


// media queries
.clear {
    clear: both;
}
.box {
    width: 33.3%;
    height: 300px;
    float: left;
    background: #ccc;
    border: 2px solid #aaa;
}

// 768px de width ou 500px de Altura

@media screen and (max-width: 768px) and (max-height: 378px) {
    .box {
        width: 100%;
    }
}


// 768px de width e 500px de Altura
@media screen and (max-width: 768px) ,  (max-height: 378px) {
    .box {
        width: 100%;
    }
}


@media screen and (max-aspect-ratio: 2/1) {
    .box {
        width: 50%;
    }
}



// float inline-block
// .container {
//     width: 98%;
//     height: 100%;
//     max-width: 1200px;
//     margin: 0 auto;
//     background: #ddd;
// }

// .box {
//     float: left;
//     border: 1px solid #606060;
//     width: 33.3%;
//     height: 300px;
//     background: #ccc;
// }

// @media screen and (max-width: 768px) {
    
//     .container {
//         text-align: center;
//     }
    
//     .box {
//         display: inline-block;
//         float: none;
//         width: calc(100% - 10%);
//     }
// }

.container {
    overflow: hidden;
    padding: 30px 0;
    background: #ddd;
    text-align: center;
    margin: 0 auto;
}

.box {
    display: inline-block;
    border: 1px solid #606060;
    width: 33%;
    max-width: 600px;
    height: 300px;
    margin-right: -4px;
    background: #ccc;
}

.box:last-child {
    margin-right: 0px;
}

@media screen and (max-width: 968px) {
    
    .container {
        text-align: center;
        padding: 2% 20px;
    }
    
    .box {
        display: inline-block;
        width: calc(100% - 55%);
        max-width: 468px;
    }
    
    .box:nth-last-of-type(2) {
        margin-right: 0;
        
    }
}

@media screen and (max-width: 580px) {
    
    .container {
        text-align: center;
        padding: 1% 10px;
    }
    
    .box {
        display: inline-block;
        width: calc(100% - 4%);
        max-width: 485px;
        margin: 0;
    }

}


// projeto 01 com responsividade
.clear {
    clear: both;
}

.header img {
    width: 23%;
    margin-top: 20px;
    min-width: 280px;
}

.header {
    overflow: hidden;
    width: 100%;
    height: 90px;
    min-height: 90px;
    padding: 0 2%;
    background: #27282d;
    
}

.center {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2%;
}

.container-banner {
    width: 100%;
    height: 600px;
    background-size: cover;
    background-image: url('assets/images/imagetech-01.jpg');
    background-repeat: no-repeat;
    background-position: 80% 100%;
}

.container-banner > .center {
    height: 100%;
}

.container-list {
    position: relative;
    display: inline-block;
    float: left;
    width: 520px;
    height: 460px;
    top: -10px;
    margin: 80px 0;
    border-radius: 15px;
    opacity: 0.9;
    background: #27282d;
}

.container-list ul {
    list-style-position: inside;
}

.container-list ul li {
    margin: 60px 30px;
    color: #fff;
    line-height: 20px;
}

.container-form {
    position: relative;
    float: right;
    width: 530px;
    height: 660px;
    top: -30px;
    left: 100px;
    border-radius: 15px;
    background: #fff;
    opacity: 0.9;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.15);
}

.container-form h1 {
    font-size: 21px;
    font-weight: 500;
    text-align: left;
    font-weight: normal;
    padding: 40px 2%;
    margin: 20px 60px;
    color: #808080;
}

.input-container {
    margin: 20px 60px;
    
}

.input-container span, .container-form p {
    display: inline-block;
    width: 100%;
    font-size: 16px;
    color: #808080;
}

.container-form p {
    margin: 40px 60px;
}

.input-container input[type='text'] {
    width: 410px;
    height: 60px;
    margin-top: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 12px;
}

.input-container input[type='text']:focus {
    outline: 0;

}

.input-container input[type='tel'] {
    width: 410px;
    height: 35px;
    margin-top: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.input-container input[type='tel']:focus {
    outline: 0;

}

form input[type='submit'] {
    cursor: pointer;
    width: 210px;
    height: 45px;
    margin: 20px 80px;
    font-size: 16px;
    border: 0;
    outline: 0;
    border-radius: 10px;
    color: #ccc;
    background: #27282d;
}

form input[type='submit']:focus {
    outline: 0;
}

.container-2 {
    width: 100%; 
    height: 660px;
    padding: 20px 2%;
    text-align: center;
    background: #EA7C32;
}

.container-2 h1 {
    display: inline-block;
    width: 100%;
    padding: 20px 2%;
    font-size: 41px;
}

.container-2 p {
    display: inline-block;
    text-align: justify;
    width: 100%;
    max-width: 968px;
    line-height: 65px;
    font-weight: normal;
    padding: 20px 2%;
}

.arrow {
    position: relative;
    width: 45px;
    height: 45px;
    top: 125px;
    left: calc(100% - 50%);
    background-image: url('assets/images/arrow-down.png');
    background-size: 100% 100%;

}

.section-1 {
    width: 100%;
    height: 880px;
    padding: 40px 2%;

}

.section-1 h1 {
    display: inline-block;
    width: 100%;
    font-size: 41px;
    text-align: center;
    font-weight: normal;
    padding: 20px 2%;
    color: #27282d;
}

.container-section {
    width: 100%;
    height: 680px;
    padding: 20px 2%;
    text-align: center;
}

.container-single {
    display: inline-block;
    width: 33%;
    
}

.container-single img {
    width: 60%;
    padding: 40px 2%;
    
}

.text-container-single p {
    display: inline-block;
    width: 65%;
    line-height: 35px;
    margin: 20px 0;
    text-align: justify;
}

.footer-container {
    display: inline-block;
    width: 100%;
    height: 200px;
    padding: 40px 2%;
    border-top: 1px solid #ccc;
    background: #efefef;
}

.footer-container h1 {
    width: 100%;
    padding: 20px 2%;
    font-size: 21px;
    text-align: center;
    
}

.footer-container p {
    font-size: 18px;
    padding: 20px 2%;
    text-align: center;
}

@media screen and (max-width: 1024px) {
    .header {
        width: 100%;
        height: calc(90px - 100%);
        text-align: center;
    }


    .header img {
        width: 21%;
    }

    .center {
        display: inline-block;
        width: calc(100% - 2%);
        height: 100%;
    }
    
    .container-banner {
        width: 100%;
        height: auto;
        text-align: center;
        padding: 40px 2%;
    }

    .container-form {
        float: right;
        height: auto;
        width: 45%;
        height: 100%;
        max-width: 410px;
        left: 0;
        top: 0;
        padding: 20px 0;
        text-align: center;
    }

    .container-form p {
        margin: 0 60px;
    }
    
    .container-list {
        width: 50%;
        height: calc(100% - 400px);
        float: left;
        top: 150px;
        margin: 0;
    }

      .container-list ul li {
        width: calc(100% - 20%);
        max-width: 380px;
        margin: 40px 20px;
        color: #fff;
    }
    
    .input-container span, .container-form p {
        display: inline-block;
        text-align: left;
        width: 100%;
        font-size: 14px;
        color: #808080;
    }

    .input-container input[type='text'] {
        
        width: 100%;
        height: 65px;
        border-radius: 10px;
    }

    
    .input-container input[type='tel'] {
        width: 100%;
        height: 45px;
        border-radius: 8px;
    }


    form input[type='submit'] {
        display: inline-block;
        cursor: pointer;
        width: 100%;
        height: 45px;
        max-width: 210px;
        margin: 20px auto;
    }

        
    .container-2 {
        width: 100%; 
        height: auto;
        padding: 40px 2%;
        text-align: center;
        background: #EA7C32;
    }

    .container-2 h1 {
        width: 100%;
        font-size: 41px;
    }
    
    .container-2 p {
        width: 100%;
        max-width: 968px;
        line-height: 45px;
    }

    .arrow {
        width: 40px;
        height: 40px;
        top: 60px;
    }

    .section-1 {
        width: 100%;
        height: 1200px;
        padding: 40px 2%;
    }

 
    .container-section {
        text-align: center;
    }

    .container-single {
        display: inline-block;
        width: 45%;
        height: auto;
        max-width: 70%;

    }

    .container-single img {
        padding: 20px 2%;
        
    }
        
    .text-container-single p {
        width: 90%;
        max-width: 80%;
        height: 100%;
        text-align: justify;
    }

    .footer-container {
        width: 100%;
        height: 200px;
        border-top: 1px solid #ccc;
        background: #efefef;
    }

    .footer-container h1 {
        font-size: 18px;
        text-align: center;
    }


    .footer-container p {
        font-size: 16px;
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    .center {
        display: inline-block;
        width: 100%;
        height: auto;
    }
    
    .container-list {
        display: inline-block;
        width: 80%;
        height: auto;
        margin: 40px auto;
        top: 0;
        right: 0;
        left: 0;
        float: none;
    }

    .container-list ul li {
        width: 100%;
        max-width: 80%;
        height: auto;
        text-align: left;
        line-height: 20px;
        color: #fff;
    }

    .container-banner {
        display: inline-block;
        width: 100%;
        height: auto;
    }


    .container-form {
        display: inline-block;
        float: none;
        width: 90%;
        max-width: 80%;
        height: auto;
    }

    .container-form h1 {
        font-size: 21px;
        margin: 20px 60px;
        color: #808080;
    }

    .container-2 h1 {
        font-size: 35px;
    }
        
    .container-2 p {
        max-width: 75%;
        line-height: 50px;
    }
    
    .arrow {
        position: relative;
        width: 45px;
        height: 45px;
        top: 60px;
        left: 50%;
    }

    .section-1 {
        width: 100%;
        max-width: 90%;
        height: auto;
        margin: 0 auto;
        text-align: center;
        padding: 20px
    }
    
    
    .section-1 h1 {
        font-size: 35px;
        padding: 20px;
        color: #27282d;
    }
    
    .container-section {
        width: 100%;
        max-width: 80%;
        height: auto;
        padding: 20px;
        margin: 0 auto;
        text-align: center;
    }

    .container-single {
        width: 90%;
        max-width: 90%;
        height: auto;
        text-align: center;
        margin: 0 auto;
    }
    
    .container-single img {
        width: 70%;
        max-width: 70%;
    }

        
    .text-container-single p {
        width: 100%;
        max-width: 90%;
        margin: 20px 0;
        text-align: justify;
    }

    .footer-container {
        padding: 40px;
    }

    .footer-container h1 {
        width: 100%;
        padding: 20px 0;
        font-size: 21px;
        text-align: center;
    }

    .footer-container p {
        font-size: 18px;
        padding: 20px 2%;
        text-align: center;
    }

}

@media screen and (max-width: 468px) {
    .container-list {
        margin: 20px 0;
    }

    .container-list ul li {
        font-size: 14px;
        line-height: 40px;
    }

    .container-form {
        margin: 10px 0;
    }

    .container-form h1 {
        width: 90%;
        max-width: 80%;
        font-size: 16px;
        margin: 10px 40px;
    }
        
    .container-form p {
        font-size: 12px;
        margin: 10px 40px;
    }

    .input-container {
        margin: 10px 40px;
        
    }

    .input-container span, .container-form p {
        width: 100%;
        max-width: 95%;
        font-size: 14px;
        color: #808080;
    }

    .input-container input[type='text'] {
        width: 100%;
        height: 50px;
        margin-top: 5px;
        padding: 10px;
        border-radius: 8px;
    }

    .input-container input[type='tel'] {
        width: 100%;
        height: 35px;
        margin-top: 5px;
        padding: 10px;
        border-radius: 8px;
    }

    form input[type='submit'] {
        width: 70%;
        height: 45px;
        font-size: 14px;
        border-radius: 8px;
    }

    .container-2 {
        margin: 0 auto;
    }
    
    .container-2 h1 {
        font-size: 31px;
        padding: 10px 0;
    }

    .container-2 p {
        font-size: 14px;
        line-height: 35px;
    }

    .arrow {
        display: block;
        top: 60px;
    }

    .section-1 {
        width: 100%;
        max-width: 90%;
    }
    
    .section-1 h1 {
        width: 100%;
        max-width: 90%;
        font-size: 31px;
    }

    .container-section {
        width: 100%;
        max-width: 90%;
        padding: 10px 0;
        text-align: center;
    }
    
    .footer-container h1 {
        font-size: 16px;
    }

    .footer-container p {
        font-size: 12px;
    }
}


// SEO
header {
    width: 100vw;
    min-height: 75px;
    background: #ccc;
}
.menu {
    width: 1024px;
    height: 75px;
    background: #ddd;
    text-align: center;
    padding: 25px;
    margin: 0 auto;
}

.menu a {
    color: #606060;
    margin-top: 45px;
    padding: 65px;
}

.menu a:hover {
    color: #fff;
}



// html5
header .principal {
    width: 100%;
    padding: 20px 0;
    background: #606060;

}

header nav {
    text-align: center;
}

header .principal > nav > ul {
    list-style: none;
}

header .principal > nav > ul {
    display: inline-block;
    margin: 0 25px;
}


// novos inputs
input [type=text] {
    background: #ccc !important;
    padding: 50px !important;
}



.header {
    width: 100vw;
    height: 40vh;
    min-height: 200px;
    overflow: hidden;
    position: relative;
    background: #ccc;
}

.header video {
    position: absolute;
    width: 100vw;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.85);
    z-index: 999;
    transition: 0.7s;
    transition-property: background;
}

.overlay:hover {
    background: rgba(0,0,0,0);
}

.overlay h1 {
    text-align: center;
    margin: 135px auto;
    font-size: 88px;
    font-weight: 800;
    color: #fff;
}


// new style html5
h1 {
    font-size: 41px;
    font-weight: normal;
}

p {
    font-size: 21px;
    font-weight: normal;
}

header {
    width: 100%;
    height: 75px;
    background: #ccc;
}

nav {
    width: 1024px;
    margin: 0 auto;
    height: 75px;
}

nav ul li {
    display: inline-block;
    float: right;
    padding: 25px;
}

header a {
    color: #ddd;

}

header a:hover {
    color: #000;
    font-weight: bold;

}

article {
    width: 100% !important;
    background: #f1f1f1;
}

section {
    width: 100%;
    background: #aaa;
}


article .section-1 {
    width: 1024px;
    background: #aaa;
    height: 500px;
    margin: 0 auto;
    padding: 25px;
}

article .section-2 {
    width: 1024px;
    background: #bbb;
    height: 500px;
    margin: 0 auto;
    padding: 25px;
}

article .section-3 {
    width: 1024px;
    background: #ccc;
    height: 500px;
    margin: 0 auto;
    padding: 25px;
}

article .section-4 {
    width: 1024px;
    background: #ddd;
    height: 500px;
    margin: 0 auto;
    padding: 25px;
}

article .aside-1 {
    width: calc(100% - 50%);
    float: left;
    background: #eee;
    height: 500px;
    margin: 0 auto;
    padding: 25px;
}

article .aside-2 {
    width: calc(100% - 50%);
    float: right;
    background: #bbb;
    height: 500px;
    margin: 0 auto;
    padding: 25px;
}

footer {
    width: 100%;
    height: 400px;
    margin: 0 auto;
    padding: 25px;
}

.footer-end {
    width: 1024px;
    height: 400px;
    background: #606060;
    height: 200px;

}

.footer-end h1 {
    font-size: 41px;
    padding: 25px;
    margin-top: 45px;
}

.footer-end p {
    font-size: 21px;
    padding: 25px;
}