* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    font-weight: normal;
}

body, html {
    margin: 0;
    padding: 0;
}

body > div > img {
    display: block;
    margin: 0 auto;
    max-width: 100vw;
}

a {
    text-decoration: none;
}

// menu

.menu {
    width: 900px;
    height: 64px;
    margin: 10px auto;
    padding: 15px;
    text-align: right;
}

.menu a {
    font-size: 20px;
    text-decoration: none;
    background: #efefef;
    color: #606060;
    margin: 0 10px;
    padding: 5px;
    border-right: 1px solid #606060;
}


.menu a:hover {
    background: #f3f3f3;
    color: #a3a3a3;
    border-right: 1px solid #aaaaaa;
}