// fonts

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&family=Raleway&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // font-family: 'roboto', sans-serif;
    font-family: 'Hacka', monospace;
    font-weight: normal;
}


body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body > div > img {
    display: block;
    margin: 0 auto;
    max-width: 100vw;
}

.clear {
    clear: both;
}

.center {
    width: 1200px;
    margin: 0 auto;
    padding: 0 2%;
}

.center img {
    width: 21%;
    margin-top: 10px;
}

.header {
    width: 100%;
    min-width: 1200px;
    height: 90px;
    background: #27282d;

}

.container-banner {
    width: 100%;
    height: 600px;
    min-width: 1200px;
    background-size: cover;
    background-image: url('assets/images/imagetech-01.jpg');
    background-repeat: no-repeat;
    background-position: 20% 100%;
}

.container-banner > .center {
    height: 100%;
}

.container-form {
    position: relative;
    float: right;
    top: -30px;
    width: 480px;
    height: calc(100% + 60px);
    border-radius: 15px;
    background: #fff;
    opacity: 0.9;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.15);
}

.container-form h2 {
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    color: #808080;
    padding: 40px 10px;
    font-weight: bold;
    margin: 20px 60px;
}

.input-container {
    margin: 20px 60px;
    
}

.input-container span, .container-form p {
    display: inline-block;
    width: 100%;
    font-size: 15px;
    color: #808080;
}

.container-form p {
    margin: 5px 60px;
}

.input-container input[type='text'] {
    
    width: 300px;
    height: 55px;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.input-container input[type='text'] {
    outline: 0;

}

.input-container input[type='tel'] {
    width: 300px;
    height: 35px;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.input-container input[type='tel'] {
    outline: 0;

}

form input[type='submit'] {
    cursor: pointer;
    width: 180px;
    height: 40px;
    margin: 20px 60px;
    font-size: 16px;
    font-weight: 600;
    color: #ccc;
    background: #27282d;
    border: 0;
    outline: 0;
    border-radius: 10px;
}

form input[type='submit']:focus {
    outline: 0;

}

.container-list {
    display: inline-block;
    float: left;
    width: 550px;
    height: 400px;
    background: #27282d;
    opacity: 0.9;
    margin: 80px 0;
    border-radius: 15px;
}

.container-list ul {
    list-style-position: inside;
}

.container-list ul li {
    margin: 40px 20px;
    color: #fff;

}

.container-2 {
    padding: 80px 0;
    text-align: center;
    background: #EA7C32;
}

.container-2 h2 {
    display: inline-block;
    width: 100%;
    
}

.container-2 p {
    display: inline-block;
    width: 800px;
    margin: 15px 0;
    text-align: justify;
    font-weight: normal;

}

.arrow {
    width: 50px;
    height: 50px;
    top: 100px;
    left: 50%;
    position: relative;
    background-image: url('assets/images/arrow-down.png');
    background-size: 100% 100%;

}

.section-1 {
    padding: 90px 0;
    min-width: 1200px;

}

.section-1 h2 {
    display: block;
    text-align: center;
    font-size: 23px;
    font-weight: normal;
    color: #27282d;
}

.section-1 .h2-title {
    font-size: 32px;
}

.container-section {
    margin-top: 40px;
    text-align: center;
}

.container-single {
    // float: left;
    display: inline-block;
    margin-right: -4px;
    width: 33%;

}

.container-single img {
    width: 21%;
    margin: 40px 0;

}

.text-container-single p {
    display: inline-block;
    margin: 20px 0;
    text-align: justify;
    width: 50%;
}

.footer-container {
    width: 100%;
    height: 120px;
    border-top: 1px solid #ccc;
    background: #efefef;
}

.footer-container h2 {
    padding: 30px;
    font-size: 18px;
    text-align: center;
}


.footer-container p {
    font-size: 16px;
    text-align: center;
}



