// fonts

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&family=Raleway&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // font-family: 'roboto', sans-serif;
    // font-family: 'Hacka', monospace;
    font-family: 'Raleway', sans-serif;
    color: #606060;
    font-weight: 300;
}


body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body > div > img {
    display: block;
    max-width: 100vw;
    margin: 0 auto;
    
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

// projeto 02
div.center{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2%;
}
header{
    background-color: #3b5998;
    padding: 8px 0;
}
div.logo{
    float: left;
    color: white;
}
div.logo h2{
    margin-top: 5px;
    color: white;
    font-size: 29px;
    font-weight: normal;
}
div.clear{
    clear: both;
}
form.form-login{
    float: right;
}

form.form-login div.form-element{
    display: inline-block;
    margin-right: 15px;
}

form.form-login div.form-element p{
    color: white;
    font-size: 14px;
}
form.form-login div.form-element input[type=email], 
form.form-login div.form-element input[type=password]{
    margin-top: 5px;
    border: 0;
    padding: 3px;
    outline: none;
}
form.form-login div.form-element input[type=submit]{
    cursor: pointer;
    border: none;
    background-color: #3a6cd6;
    color: white;
    padding: 3px 5px;
}
form.form-login div.form-element input[type=submit]:hover{
    background-color: #1f4ba6;
}

section.main{
    background: linear-gradient(white, #D3D8E8);
    padding: 40px 0;
}

div.img-pessoas{
    float: left;
    width: 60%;
}

div.img-pessoas img {
    padding: 30px 0;

}
div.img-pessoas img{
    max-width: 100%;
}
div.img-pessoas h3{
    max-width: 460px;
    font-size: 20px;
    color: #0e385f;
}
div.abrir-conta{
    float: left;
    width: 40%;
}

div.abrir-conta h2{
    color: #333;
    font-size: 35px;
}

div.abrir-conta h3{
    color: rgb(30, 30, 30);
    font-size: 19px;
    margin-top: 10px;
    font-weight: normal;
}

form.criar-conta{
    margin-top: 10px;
}

.w50{
    width: 50%;
    float: left;
    padding: 5px 5px 0 0;
}

.w100{
    width: 100%;
    float: left;
    padding: 5px 5px 0 0;
}
form.criar-conta input{
    width: 100%;
}
form.criar-conta input[type=email], 
form.criar-conta input[type=text],
form.criar-conta input[type=password]{
    font-size: 18px;
    padding: 8px 10px;
    border: 1px solid #ccd0d5;
    border-radius: 5px;
    outline: none;
}

form.criar-conta input[type=submit]{
    background: linear-gradient(#67ae55, #578843);
    background-color: #69a74e;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    padding: 10px;
    border: 0;
    outline: 0;
    font-size: 18px;
}
form.criar-conta input[type=submit]:hover{
    background-color: #67ae55;
    background: linear-gradient(#81d66c, #75b85b);
}

form.criar-conta .w100 h3{
    color: #90949c;
    font-weight: bold;
}

form.criar-conta select.nascimento{
    font-size: 18px;
    float: left;
    padding: 5px 10px;
    border: 1px solid #ccd0d5;
    border-radius: 5px;
    outline: none;
    margin: 0 5px ;
    margin-top: 5px;
}

form.criar-conta .input-radio{
    display: inline-block;
    padding: 0 10px 0 0;
    margin: 0 0 15px 0;
}

form.criar-conta .input-radio label{
    display: inline-block;
    padding: 5px;
}
form.criar-conta .input-radio input[type=radio]{
    width: auto !important; 
    display: inline-block;
}

label{
    color: #1d2129;
    font-size: 18px;
    font-weight: normal;
}

section.linguas{
    padding: 30px 0;
}
section.linguas nav ul li{
    display: inline-block;
}
section.linguas nav ul li a{
    color: #385898;
    font-size: 14px;
    padding-right: 20px;
}
section.linguas nav ul li a:hover{
    text-decoration: underline;
}
section.linguas nav ul li a.selected{
    color: #737373;
    cursor: auto;

}
section.linguas nav ul li a.selected:hover{
    text-decoration: none;
}
section.linguas .center{
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    padding-left: 8px;
    padding-right: 8px;
}
section.linguas .center:last-child{
    border: none;
    padding-top: 8px;
}

@media screen and (max-width: 768px){
    .logo,
    form.form-login{
        width: 100%;
        text-align: center;
        float: none;
    }
    form.form-login{
        display: inline-block;
        margin-top: 20px;
    }

    form.form-login div.form-element{
        display: block;
        margin: 10px 0;
    }
    
    form.form-login div.form-element p{
        color: white;
        font-size: 14px;
    }
    form.form-login div.form-element input[type=email], 
    form.form-login div.form-element input[type=password]{
        margin-top: 5px;
        border: 0;
        padding: 5px;
        outline: none;
        width: 100%;
        max-width: 320px;
    }
    form.form-login div.form-element input[type=submit]{
        width: 140px;
    }

    div.img-pessoas{
        display: none;
    }

    div.abrir-conta{
        width: 100%;
    }
}